{% import 'fragments.html' as layouts %}
{% extends "layout.html" %}

{% set settings = data.articleSettings %}
{% set title =  settings.blogTitle.data if settings.blogTitle.data else '' %}
{% set title = title + ' - ' if settings.blogTitle.data and (data.piece.title or data.page.title) %}
{% set title = title +(data.piece.title or data.page.title) %}

{% block title %}{{title}}{% endblock %}

{% block main %}
  {% set indexTemplateView = data.articleSettings.indexTemplate.data %}
  {% if layouts[indexTemplateView] is defined %}
    {% render layouts[indexTemplateView](data.pieces) %}
  {% else %}
    {% render layouts.default(data.pieces) %}
  {% endif %}
  {% import '@apostrophecms/pager:macros.html' as pager with context %}
  {{ pager.render({
    page: data.currentPage,
    total: data.totalPages
  }, data.url) }}
{% endblock %}
