{% set previewImage = apos.attachment.first(data.piece._banner or data.page._previewImage or data.articleSettings.previewImage.data) %}
{% set settings = data.articleSettings %}
{% set title =  settings.blogTitle.data if settings.blogTitle.data else '' %}
{% set title = title + ' - ' if settings.blogTitle.data and (data.piece.title or data.page.title) %}
{% set title = title +(data.piece.title or data.page.title) %}
{% set description = data.piece.description or settings.blogDescription.data %}

<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ data.baseUrl+data.absoluteUrl }}" />
{% if data.piece.type === "erf-apostrophe-blogs" %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
{% if settings.siteName.data %}
<meta property="og:site_name" content="{{ settings.siteName.data }}" />
{% endif %}
{% if description %}
<meta property="og:description" content="{{ description }}" />
{% endif %}

<meta property="og:determiner" content="" />
<!-- TODO: build component to get localize name with data locale -->
<meta property="og:locale" content="en_US" />
<!-- <meta property="og:locale" content="{{data.locale}}" /> -->
<!-- <meta property="og:locale:alternate" content="fr_FR" /> 
<meta property="og:locale:alternate" content="es_US" /> -->

{% if previewImage %}
<meta property="og:image" content="{{ data.baseUrl+ apos.attachment.url(previewImage, { size: 'full' }) }}" />
<meta property="og:image:type" content="image/{{previewImage.extension}}" />
<meta property="og:image:width" content="{{previewImage.width}}" />
<meta property="og:image:height" content="{{previewImage.height}}" />
<meta property="og:image:alt" content="{{previewImage._alt}}" />
{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<!-- TODO: include an author profile page with twitter url -->
<!-- <meta name="twitter:site" content="@flickr" /> -->
<meta name="twitter:title" content="{{ title }}" />
{% if description %}
<meta name="twitter:description" content="{{ description }}" />
{% endif %}
{% if previewImage %}
<meta name="twitter:image" content="{{ data.baseUrl+ apos.attachment.url(previewImage, { size: 'full' }) }}" />
<meta name="twitter:image:alt" content="{{previewImage._alt}}" />
{% endif %}