:root {
    --brands-facebook: #4267B2;
    --brands-tumblr: #34526F;
    --brands-twitter: #1DA1F2;
    --brands-reddit: #FF4500;
    --brands-linkedin: #0077B5;
    --brands-pinterest: #E60023;
    --brands-mail: #EBB134;
    --brands-mobile-links: #6516dd;
    --theme-base-color: #6516dd;
}