@import './_variables.scss';
@import '~flexboxgrid/css/flexboxgrid.min.css';

.social-button {
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    display: inline-block;
    svg {
        width: 100%;
        height: 100%;
    }
    path {
        fill: var(--theme-base-color);
    }
    &:hover {
        cursor: pointer;
    }
    &.social-button__fb{
        path {
            fill: var(--brands-facebook);
        }
    }
    &.social-button__tw{
        path {
            fill: var(--brands-twitter);
        }
    }
    &.social-button__re{
        path {
            fill: var(--brands-reddit);
        }
    }
    &.social-button__tu{
        path {
            fill: var(--brands-tumblr);
        }
    }
    &.social-button__pi{
        path {
            fill: var(--brands-pinterest);
        }
    }
    &.social-button__in{
        path {
            fill: var(--brands-linkedin);
        }
    }
    &.social-button__mail{
        path {
            fill: var(--brands-mail);
        }
    }
    &.inverted {
        background: var(--theme-base-color);
        path {
            fill: var(--a-text-inverted);
        }
    }
    &.social-button__fb.inverted {
        background: var(--brands-facebook);
    }
    &.social-button__tw.inverted {
        background: var(--brands-twitter);
    }
    &.social-button__tu.inverted {
        background: var(--brands-tumblr);
    }
    &.social-button__pi.inverted{
        background: var(--brands-pinterest);
    }
    &.social-button__in.inverted{
        background: var(--brands-linkedin);
    }
    &.social-button__re.inverted{
        background: var(--brands-reddit);
    }
    &.social-button__mail.inverted{
        background: var(--brands-mail);
    }
}

article.entry > div#banner {
    width: 100%;
    > img {
        max-width: 100%;
    }
}

.article-layout .sticky {
    position: sticky;
    top: 0;
    display: block;
}
